body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/498/957/original/seamless-background-in-nature-style-vintage-pattern-geometric-ornament-elements-of-leaves-illustration-use-for-wallpaper-print-packaging-paper-textiles-vector.jpg");
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: grey solid 2px;
  margin: 10px;
  border-radius: 20px;
  transition: all 0.25s 0.1s;
}

a:hover {
  text-decoration: none;
  color: #52b5b5;
  padding: 10px;
  border: #52b5b5 solid 2px;
  margin: 10px;
  border-radius: 20px;
}

.navStyle {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.container {
  display: flex;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  align-items: center;
}

.HomeInfo {
  display: flex;
  justify-content: center;
  padding: 100px;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 150px;
}

.bookInfo {
  background-color: #FFF9E3;
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 12px;
  color: #414141;
}

.title {
  border: solid #414141 1px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  border-radius: 5px;
  width: 50px;
  border: none;
  background-color: transparent;
}

.logo:hover {
  border-radius: 5px;
  width: 50px;
  border: none;
  cursor: pointer;
}